@model Course_Scheduler.Models.ViewModels.CourseAndTeachersViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Prerequisite)
        </dt>
        <dd class = "col-sm-10">
           
            @Html.DisplayFor(model => model.Course.Prerequisite.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers)
        </dt>
        <dd class="col-sm-10">
             @string.Join(" , ", Model.Teachers.Select(t => t.Name))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Course.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
