@model Course_Scheduler.Models.ViewModels.AddCourseViewModel

@{
    ViewData["Title"] = "Edit";
    List<Teacher> teachers = ViewBag.Teachers;
    var json = Json.Serialize(((List<Course>)ViewData["RequiredCourse"]).Select(c => c.Name));
    var reqIdjson = Json.Serialize(((List<Course>)ViewData["RequiredCourse"]).Select(c => c.ID));
    var reqCodeJson = Json.Serialize(((List<Course>)ViewData["RequiredCourse"]).Select(c => c.CourseCode));
    var groupNames = Json.Serialize(((List<Group>)ViewData["Groups"]).Select(g => g.Name));
    var groupIds = Json.Serialize(((List<Group>)ViewData["Groups"]).Select(g => g.ID));
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="addCoursefrom" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Credits" class="control-label"></label>
                <input asp-for="Course.Credits" class="form-control" />
                <span asp-validation-for="Course.Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CourseCode" class="control-label"></label>
                <input asp-for="Course.CourseCode" class="form-control" />
                <span asp-validation-for="Course.CourseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CountOfClass" class="control-label"></label>
                <input asp-for="Course.CountOfClass" class="form-control" />
                <span asp-validation-for="Course.CountOfClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Groups" class="control-label"></label>
                <div class="input-group mb-3">
                    <input type="text" id="newGroup" class="form-control" placeholder="Enter item here">
                    <button onclick="addGroup()" type="button" class="btn btn-primary">Add Item</button>
                </div>
                <ul id="GroupList" class="list-group">
                    @foreach (var item in Model.GroupIds)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @(((List<Course>)ViewData["Groups"]).First(c => c.ID == item).Name)
                            <input type="hidden" value="@item" class="Group">
                            <button class="btn btn-sm btn-outline-danger" type="button" onclick="RemoveItem(this)">Remove</button>
                        </li>
                    }
                </ul>
            </div>

            <div class="form-group">
                <label asp-for="Course.Prerequisites" class="control-label"></label>
                <div class="input-group mb-3">
                    <input type="text" id="newItem" class="form-control" placeholder="Enter item here">
                    <button onclick="addItem()" type="button" class="btn btn-primary">Add Item</button>
                </div>
                <ul id="itemList" class="list-group">
                    @foreach (var item in Model.PrerequisitesId)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @(((List<Course>)ViewData["RequiredCourse"]).First(c => c.ID == item).Name)
                            <input type="hidden" value="@item" class="requiredCourses">
                            <button class="btn btn-sm btn-outline-danger" type="button" onclick="RemoveItem(this)">Remove</button>
                        </li>
                    }
                </ul>
                <span asp-validation-for="Course.Prerequisites" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Course.CorequisiteCourses" class="control-label"></label>
                <div class="input-group mb-3">
                    <input type="text" id="newCorequisiteCoursesItem" class="form-control" placeholder="Enter item here">
                    <button onclick="addCorequisiteCoursesItem()" type="button" class="btn btn-primary">Add Item</button>
                </div>
                <ul id="CorequisiteCoursesItemList" class="list-group">
                    @foreach (var item in Model.CorequisitesId)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @(((List<Course>)ViewData["RequiredCourse"]).First(c => c.ID == item).Name)
                            <input type="hidden" value="@item" class="CorequisiteCourses">
                            <button class="btn btn-sm btn-outline-danger" type="button" onclick="RemoveItem(this)">Remove</button>
                        </li>
                    }
                </ul>
                <span asp-validation-for="Course.CorequisiteCourses" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="TeachersId" class="control-label"></label>
                <span asp-validation-for="TeachersId" class="text-danger"></span>
                <br />
                @foreach (var item in teachers)
                {
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="@($"chk{item.Name}")">@item.Name</label>
                        <input class="form-check-input" type="checkbox" id="@($"chk{item.ID}")" name="TeachersId" value="@item.ID" @(Model.TeachersId.Contains(item.ID) ? "checked" : "")>
                    </div>
                }
            </div>
            <input type="hidden" asp-for="Course.ID" />
            <div class="form-group">
                <input type="button" onclick="submitFrom()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        var requiredCourses = @json;
        var requiredCourseIds = @reqIdjson;
        var requiredCoursecodes = @reqCodeJson;
        var groupNames = @groupNames;
        var groupIds = @groupIds;
        console.log(RequiredCourse);
        console.log(requiredCourseIds);

        function submitFrom() {
            var from = document.getElementById("addCoursefrom");
            EditNameOfRequiredCourses();
            EditNameOfCorequisitesCourse();
            EditNameOfGroups();
            from.submit();
        }

        function EditNameOfGroups() {
            var inputs = document.querySelectorAll('input[class="Group"]');
            console.log(inputs);

            inputs.forEach(function (item, index) {
                item.name = `GroupIds[${index}]`
            });
        }
        function EditNameOfRequiredCourses() {
            var inputs = document.querySelectorAll('input[class="requiredCourses"]');
            console.log(inputs);

            inputs.forEach(function (item, index) {
                item.name = `PrerequisitesId[${index}]`
            });
        }
        function EditNameOfCorequisitesCourse() {
            var inputs = document.querySelectorAll('input[class="CorequisiteCourses"]');
            console.log(inputs);

            inputs.forEach(function (item, index) {
                item.name = `CorequisitesId[${index}]`
            });
        }

        function addGroup() {
            // Get the text from the input field
            var newItemText = document.getElementById("newGroup").value;
            var indexOfNewItemText = groupNames.indexOf(newItemText);
            var indexOfNewItemCode = groupIds.indexOf(newItemText);
            console.log(!newItemText)
            console.log(indexOfNewItemText === -1)
            console.log(indexOfNewItemCode === -1)
            if (!newItemText || (indexOfNewItemText === -1 && indexOfNewItemCode === -1)) return; // Prevent empty items

            // Create a new list item element
            var newListItem = document.createElement("li");
            newListItem.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");
            if (indexOfNewItemCode === -1) {
                newListItem.textContent = newItemText;
            } else {
                newListItem.textContent = requiredCourses[indexOfNewItemCode];;
            }
            var newIput = document.createElement("input");
            if (indexOfNewItemCode === -1) {
                newIput.value = requiredCourseIds[indexOfNewItemText];
            } else {
                newIput.value = requiredCourseIds[indexOfNewItemCode];
            }

            newIput.type = "hidden";
            newIput.classList.add("Group");
            newListItem.appendChild(newIput);

            // Add a remove button to each list item
            var removeButton = document.createElement("button");
            removeButton.classList.add("btn", "btn-sm", "btn-outline-danger");
            removeButton.textContent = "Remove";
            removeButton.onclick = function () {
                this.parentNode.remove();
            }
            newListItem.appendChild(removeButton);

            // Add the new list item to the existing list
            var itemList = document.getElementById("GroupList");
            itemList.appendChild(newListItem);

            // Clear the input field for the next item
            document.getElementById("newGroup").value = "";
            event.preventDefault();
        }

        function addCorequisiteCoursesItem()
        {
            // Get the text from the input field
            var newItemText = document.getElementById("newCorequisiteCoursesItem").value;
            var indexOfNewItemText = requiredCourses.indexOf(newItemText);
            var indexOfNewItemCode = requiredCoursecodes.indexOf(newItemText);
            console.log(!newItemText)
            console.log(indexOfNewItemText === -1)
            console.log(indexOfNewItemCode === -1)
            if (!newItemText || (indexOfNewItemText === -1 && indexOfNewItemCode === -1)) return; // Prevent empty items

            // Create a new list item element
            var newListItem = document.createElement("li");
            newListItem.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");
            if (indexOfNewItemCode === -1) {
                newListItem.textContent = newItemText;
            }else{
                newListItem.textContent = requiredCourses[indexOfNewItemCode];;
            }
            var newIput = document.createElement("input");
            if (indexOfNewItemCode === -1) {
                newIput.value = requiredCourseIds[indexOfNewItemText];
            } else {
                newIput.value = requiredCourseIds[indexOfNewItemCode];
            }
            
            newIput.type = "hidden";
            newIput.classList.add("CorequisiteCourses");
            newListItem.appendChild(newIput);

            // Add a remove button to each list item
            var removeButton = document.createElement("button");
            removeButton.classList.add("btn", "btn-sm", "btn-outline-danger");
            removeButton.textContent = "Remove";
            removeButton.onclick = function () {
                this.parentNode.remove();
            }
            newListItem.appendChild(removeButton);

            // Add the new list item to the existing list
            var itemList = document.getElementById("CorequisiteCoursesItemList");
            itemList.appendChild(newListItem);

            // Clear the input field for the next item
            document.getElementById("newCorequisiteCoursesItem").value = "";
            event.preventDefault();
        }
        function addItem() {
            console.log("test");
            // Get the text from the input field
            var newItemText = document.getElementById("newItem").value;
            var indexOfNewItemText = requiredCourses.indexOf(newItemText);
            var indexOfNewItemCode = requiredCoursecodes.indexOf(newItemText);
            console.log(!newItemText)
            console.log(indexOfNewItemText === -1)
            console.log(indexOfNewItemCode === -1)
            if (!newItemText || (indexOfNewItemText === -1 && indexOfNewItemCode === -1)) return; // Prevent empty items

            // Create a new list item element
            var newListItem = document.createElement("li");
            newListItem.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");
            if (indexOfNewItemCode === -1) {
                newListItem.textContent = newItemText;
            } else {
                newListItem.textContent = requiredCourses[indexOfNewItemCode];;
            }
            var newIput = document.createElement("input");
            if (indexOfNewItemCode === -1) {
                newIput.value = requiredCourseIds[indexOfNewItemText];
            } else {
                newIput.value = requiredCourseIds[indexOfNewItemCode];
            } 
            newIput.type = "hidden";
            newIput.classList.add("requiredCourses");
            newListItem.appendChild(newIput);

            // Add a remove button to each list item
            var removeButton = document.createElement("button");
            removeButton.classList.add("btn", "btn-sm", "btn-outline-danger");
            removeButton.textContent = "Remove";
            removeButton.type = "button";
            removeButton.onclick = function () {
                this.parentNode.remove();
            }
            newListItem.appendChild(removeButton);

            // Add the new list item to the existing list
            var itemList = document.getElementById("itemList");
            itemList.appendChild(newListItem);

            // Clear the input field for the next item
            document.getElementById("newItem").value = "";
            event.preventDefault();
        }
        function RemoveItem(button) {
            console.log(button.parentNode)
            button.parentNode.remove();
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
